<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS Blog</title>
   <link rel="stylesheet" href="css/blog.css">
  </head>
  <body>
    <header>
      <h1>CMS Blog Page</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/createBlog">Add Blog</a></li>
      </ul>
    </nav>
    <div class="card-container">
      <% blog.length !=0 && blog.forEach((item)=>{ %>
      <div class="card">
        <h2 class="card-title"><%- item.title %></h2>
        <h3 class="card-subtitle"><%- item.subTitle %></h3>
        <p class="card-description"><%- item.description %></p>
        <a href="/blogDetail/<%- item.id %>" class="button">Read More</a>
      </div>
      <% })%>
    </div>
  </body>
</html>
